{% extends "base.html" %}
{% block title %}CONTATO{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6" id="card1">
            <div class="card p-3 shadow">
                <p>Número: <span>(89)994466-610</span></p>
                <p>Email: <span>osmbomosm@gmail.com</span></p>
                <p>Endereço: <span>Rua: 13 de maio, 123</span></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}