{% extends "base.html" %}
{% block title %}HOME{% endblock title %}
{% block content %}

<div class="container">
    <h1 class="text-center">SEJA BEM-VINDO A LOJA DO INGÁ</h1>
    <hr>

    <div class="row mt-3">
        {% for p in produto_list %}
        <!-- criar contador que começa do 1 e a cada 2s ele soma 1, e ao chegar em 4 volte para 1-->
        <div class="col-md-4">
            <div class="card m-3 custom-card">
                <img class="card-img-top" src="{{p.image1}}" alt="{{p.titulo}}" style="height:200px;object-fit:cover;">
                <div class="card-body">
                  <h4 class="card-title">{{p.titulo}}</h4>
                  <p class="card-desc">{{p.descricao}}</p>
                  <p class="card-text">Preço: <strike>R$ {{p.preco_mercado}}</strike><br>Promoção: R${{p.venda}}</p>
                  <a href="" class="btn btn-success">Comprar</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}