{% extends "base.html" %}
{% block title %}Meu carrinho{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h4>Itens do Carrinho</h4>
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Avaliação</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                        <th>Ação</th>
                    </tr>
                    <tbody>

                    </tbody>
                </thead>

            </table>
        </div>
    </div>
</div>

{% endblock %}