{% extends "base.html" %}

{% block content %}

  <h2>Resultados da pesquisa</h2>
  {% if resultado %}
  <div class="container">
    <div class="row">
      {% for produto in resultado %}
        <div class="col-md-4">
          <div class="card m-3 custom-card">
            <img class="card-img" src="{{ produto.image.url }}" alt="{{ produto.titulo }}" style="height:200px;object-fit:cover;">
            <div class="card-body">
              <h4 class="card-title">{{ produto.titulo }}</h4>
              <p class="card-desc">{{ produto.descricao }}</p>
              <a href="" class="btn btn-success">Comprar</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% else %}
    <p>Nenhum resultado encontrado.</p>
  {% endif %}
  

{% endblock %}
