{% extends "base.html" %}
{% block title %}SOBRE{% endblock title %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card" style="border: 2px solid #007BFF; padding: 20px; border-radius: 10px;">
                <h1 style="font-family: 'Roboto', sans-serif; font-size: 24px;">Sobre</h1>
                <p style="font-family: 'Roboto', sans-serif; font-size: 16px;">Este é um projeto de loja virtual desenvolvido em Python com o framework Django.</p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 16px;">Desenvolvido por: <a href="https://github.com/DanielRodri87" style="color: #007BFF;">Daniel Rodrigues</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
