{% extends "base.html" %}
{% block title %}Todos Produtos{% endblock title %}

{% block content %}

<div class="container">
    <h1>Todos os Produtos por Categoria</h1>
    <hr>

    {% for cat in todoscategorias %}

    <hr>
    <h1>{{cat.titulo}}</h1>
    <hr>
    <div class="row mt-3">
        {% for p in cat.produto_set.all %}

        <div class="col-md-4">
            <div class="card m-3 custom-card">
                <img class="card-img-top" src="{{p.image.url}}" alt="{{p.titulo}}" style="object-fit:cover;">
                <div class="card-body">
                  <a href="{%url 'lojaapp:detalhes' p.slug %}"><h4 class="card-title">{{p.titulo}}</a></h4>
                  <p class="card-desc">{{p.descricao}}</p>
                  <p class="card-text">Preço: <strike>R$ {{p.preco_mercado}}</strike> R% {{p.venda}}</p>
                  <a href="" class="btn btn-success">Comprar</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    {%endfor%}

</div>

{% endblock %}